<?xml version="1.0"?>
<launch>
   <arg name="video" default="0" />
   <arg name="video_width" default="640" />
   <arg name="video_height" default="480" />
   <arg name="video_visualize" default="false" />

    <node name="openpose_ros_node" pkg="openpose_ros_node" type="openpose_ros_node" output="screen" required="true">
        <param name="camera" value="$(arg video)" />
        <param name="result_image_topic" value="/openpose/image_raw" />
        <param name="resolution" value="$(arg video_width)x$(arg video_height)" />
        <param name="part_to_show" value="21" />
        <param name="disable_blending" value="true" />
        <param name="image_transport" value="compressed" />
    </node>

    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen" required="true">
        <remap from="image" to="/openpose/image_raw"/>
        <param name="autosize" value="true" />
    </node>

</launch>
